*.application-oauth.properties

application-oauth.properties



src/main/resources/application-oauth.properties

.gradle
.idea

.DS_Store

*.asp
*.cer
*.csr
*.css
*.htm
*.html
*.bin
*.xml

build/test-results/test/binary/output.bin.idx
